.about {
    & {
        position: relative;
        padding: 100px 70px;
        font-size: 14px;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // column-gap: 155px;
        @media only screen and (max-width: 600px) {
            padding: 0px 24px;
        }
    }

    &__body {
        display: block;
        margin-top: 30px;

        &__content {
            width: 600px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                text-align: center;
            }

            &__heading {
                display: flex;
                align-items: center;
                gap: 10px;
                @media only screen and (max-width: 600px) {
                    justify-content: center;
                }
                img {
                    width: 20px;
                    height: 6px;
                }

                div {
                    overflow: hidden;
                    h3 {
                        box-sizing: content-box;
                        padding-left: 0.1px;
                        padding-right: 0.1px;
                        padding-top: 1.3px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.4;
                        text-transform: uppercase;
                    }
                }
            }

            & > p:nth-child(2) {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.3695;
                color: #383838;
                @media only screen and (max-width: 600px) {
                    font-size: 22px;
                }
            }

            &__name {
                color: #e74822;
            }

            & > p:nth-child(3) {
                font-weight: 300;
                font-size: 14px;
                line-height: 1.524;
                @media only screen and (max-width: 600px) {
                    font-size: 12px;
                }
            }
        }
    }

    &__img {
        position: absolute;
        right: 70px;
        top: 100px;
        // width: 545px;
        // height: 495px;
        display: flex;
        vertical-align: top;
        align-items: center;
        gap: 15px;
        // float: right;

        @media only screen and (max-width: 600px) {
            position: unset;
            justify-content: center;
            margin-top: 30px;
            gap: 7px;
            margin-left: 0px;
            // float: none;
        }

        & section {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 15px;

            @media only screen and (max-width: 600px) {
                gap: 6px;
            }

            & > div:first-child {
                width: 230px;
                height: 300px;
                @media only screen and (max-width: 600px) {
                    width: 146px;
                    height: 190px;
                }
            }

            & > div:last-child {
                width: 300px;
                height: 180px;
                @media only screen and (max-width: 600px) {
                    width: 189px;
                    height: 114px;
                }
            }
        }

        & > div:last-child {
            width: 230px;
            height: 320px;
            @media only screen and (max-width: 600px) {
                width: 146px;
                height: 203px;
            }
        }
    }

    &__see-more {
        position: relative;
        display: inline-flex;
        align-items: center;
        column-gap: 20px;
        background-repeat: no-repeat;
        // height: 38px;
        padding: 10px 15px;
        margin-top: 80px;
        font-weight: 600;
        overflow: hidden;

        span {
            padding-left: 0.5px;
            padding-right: 0.5px;
            transition: color 0.25s 0.25s;
        }

        span,
        svg {
            z-index: 1;
        }

        @media only screen and (max-width: 600px) {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 40px;
        }

        &::before {
            z-index: 0;
            content: '';
            width: 110px;
            height: 200px;
            position: absolute;
            top: -100px;
            left: -100px;
            background-color: #e74822;
            transform: rotate(43deg);
            transition: width 0.75s, height 1s;
        }

        &::after {
            z-index: 0;
            content: '';
            width: 100px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #e749226b;
            transition: opacity 0.25;
            opacity: 0;
        }

        &:hover {
            &::before {
                width: 500px;
                height: 500px;
            }

            &::after {
                opacity: 1;
            }

            span {
                color: white;
            }

            svg {
                path {
                    stroke: white;
                }
            }
        }
    }
}
