* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-sbtr: #000;
    --primary-color: #e74822;
    --base-color: #383838;
}

html {
    font-family: 'Be Vietnam Pro';
}

body {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #383838;
}

main {
    // border: 1px solid #000;
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
        width: 100%;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: #383838;
}

.hidden {
    display: none;
}

.bg-center {
    background-size: cover;
    background-position: center;
}

.substract {
    display: inline-block;
    // width height custom
    // width: 230px;
    // height: 300px;
    background-size: 100%;
    // color: orange;
    filter: url('#goo');

    & > div:first-child,
    .substract-bg {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    // .substract::before {
    //     content: '';
    //     display: block;
    //     padding-top: 100%;
    //     background: var(--bg-sbtr, #000);
    //     background-size: 100%;
    //     // clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
    //     // background: currentColor;
    // }
}

.substract--top-left {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 16%);
    }
}
.substract--top-right {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
        clip-path: polygon(0% 0%, 380px 0%, 100% 45px, 100% 100%, 0% 100%);
    }
}
.substract--bottom-left {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
    }
}
.substract--bottom-left-hight {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13.33% 100%, 0% 90.52%);
    }
}
.substract--bottom-right {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 20% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 80% 100%, 0% 100%);
    }
}
.substract--top-left-and-bottom-right {
    & > div:first-child,
    .substract-bg {
        -webkit-clip-path: polygon(
            13.16% 0%,
            100% 0%,
            100% 82.14%,
            86.84% 100%,
            0% 100%,
            0% 17.86%
        );
        // 380px x 280px
        clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
    }
    & > .substract-bg {
        & {
            position: relative;
            background-color: #00254e;
        }

        &.border-clip::after {
            position: absolute;
            z-index: -1;
            content: '';
            clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
            // clip-path: polygon(50px 0%, 100% 0%, 100% 229px, 329px 100%, 0% 100%, 0% 50px);
            // clip-path: polygon(50px 0%, 100% 0%, 100% 229px, 329px 100%, 0% 100%, 0% 50px);
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            display: block;
            background-color: #fff;
            top: 0;
            left: 0;
        }
    }
}
