.blog {
    & {
        padding-top: 70px;
        padding-left: 70px;
        padding-bottom: 70px;
        padding-right: 85px;
        @media only screen and (max-width: 600px) {
            padding: 0px 24px;
        }
    }

    &__heading {
        & {
            width: 100%;
            height: 51px;
            margin-bottom: 60px;
            color: #00254e;
            font-size: 40px;
            line-height: 1.265;
            font-weight: 700;
            display: inline-block;
            text-align: center;
            word-spacing: -1px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                font-size: 20px;
                margin-bottom: 25px;
            }
        }

        & > span:first-child {
            color: #e74822;
        }
    }

    &__body {
        & {
            display: flex;
            // overflow: hidden;
            justify-content: center;
            gap: 41px;
            @media only screen and (max-width: 600px) {
                // flex-wrap: nowrap;
                gap: unset;
            }
        }
        &__list-card {
            width: 406px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            @media only screen and (max-width: 600px) {
                gap: 15px;
                width: 100%;
            }
            &-media {
                position: relative;
                border-radius: 12px;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: 270px;
                    position: relative;
                    @media only screen and (max-width: 600px) {
                        height: 210px;
                        width: 100%;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, #e749229b, transparent);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }

            &:hover {
                *::after {
                    opacity: 1;
                }
            }

            &__header {
                font-weight: 600;
                font-size: 16px;
                line-height: 1.5;
                @media only screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }

            &__title {
                font-weight: 300;
                font-size: 14px;
                line-height: 1.5;
            }

            &__more {
                display: block;
                color: #e74822;
                font-size: 14px;
                font-weight: 300;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 4px;
                @media only screen and (max-width: 600px) {
                    font-size: 10px;
                }
            }
        }
        &__list-title {
            &__item {
                background-color: #fef4ee;
                border-radius: 4px;
                padding: 45.25px 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                h3 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 1.5;
                    @media only screen and (max-width: 600px) {
                        font-size: 14px;
                    }
                }

                p {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }

    .blog__body__list__action {
        display: flex;
        gap: 10px;
        align-items: center;
        @media only screen and (max-width: 600px) {
            gap: 8px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 10px;
            @media only screen and (max-width: 600px) {
                gap: 8px;
            }
        }

        .img {
            width: 15px;
            height: 15px;
        }

        p {
            border-left: 1px solid #383838;
            border-right: 1px solid #383838;
            padding-left: 10px;
            padding-right: 10px;
            color: #383838;
            font-size: 12px;
            line-height: 1.4;

            font-weight: 600;

            @media only screen and (max-width: 600px) {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        span {
            color: #383838;
            font-size: 12px;
            line-height: 1.4;

            font-weight: 600;
        }
    }
}
#blog-mobile-slide.splide {
    @media only screen and (min-width: 600px) {
        visibility: visible;
    }
}
