.core-value-and-commitment {
    & {
        padding-top: 70px;
        padding-left: 70px;
        padding-bottom: 70px;
        padding-right: 85px;
        @media only screen and (max-width: 600px) {
            padding: 0px 24px;
        }
    }

    &__heading {
        & {
            width: 535px;
            height: 51px;
            margin-bottom: 60px;
            color: #00254e;
            font-size: 40px;
            line-height: 1.265;
            font-weight: 700;
            display: inline-block;
            word-spacing: -1px;
            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                font-size: 20px;
                margin-bottom: 30px;
            }
        }

        & > span:first-child {
            color: #e74822;
        }
    }

    &__body {
        & {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 600px) {
                flex-direction: column;
            }
        }

        &__media {
            & {
                position: relative;
                min-width: 55%;
                margin-bottom: 100px;
                @media only screen and (max-width: 600px) {
                    margin-bottom: 40px;
                }
            }

            & > *:first-child {
                width: 450px;
                height: 580px;
                @media only screen and (max-width: 600px) {
                    width: 220px;
                    height: 290px;
                }
            }

            & > *:nth-child(2) {
                & > div:first-child {
                    width: 440.4px;
                    height: 566.4px;
                }
                position: absolute;
                top: 100px;
                left: 200px;
                border: 5px solid #fff;
                border-radius: 5px;
                background-color: #fff;
                @media only screen and (max-width: 600px) {
                    & > div:first-child {
                        width: 220px;
                        height: 290px;
                    }
                    // position: relative;
                    top: 58px;
                    left: auto;
                    right: 0;
                }
            }
        }

        &__content {
            margin-top: 21px;
            width: 515px;
            @media only screen and (max-width: 600px) {
                width: 100%;
            }
            &__list {
                & {
                    display: flex;
                    flex-direction: column;
                    gap: 55px;
                    @media only screen and (max-width: 600px) {
                        gap: 40px;
                    }
                }

                &__item {
                    & {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    & > div:nth-child(1) {
                        display: flex;
                        gap: 10px;
                    }

                    & > div:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }

                    &__heading {
                        & {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 1.25;
                            @media only screen and (max-width: 600px) {
                                font-size: 14px;
                            }
                        }

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                    &__title {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.25;
                        @media only screen and (max-width: 600px) {
                            font-size: 12px;
                        }
                    }

                    .hover {
                        display: none;
                        block-size: 30px;
                        @media only screen and (max-width: 600px) {
                            block-size: 25px;
                        }
                    }
                    .un-hover {
                        display: block;
                        block-size: 30px;
                        @media only screen and (max-width: 600px) {
                            block-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
