@import './header';
@import './header-nav-mobile';
@import './footer';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @media only screen and (max-width: 600px) {
        gap: 60px;
        position: relative;
    }
}

@import './banner';
@import './about';
@import './why-choose';
@import './core-value-and-commitment';
@import './field-activity';
@import './blog';

.float-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 70%;
    /* bottom: 0; */
    right: 0;
    width: 70px;
    transform: translateY(-50%);
    z-index: 1000;
    border: none;
    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        padding: 15px 0;

        button {
            background: #00254e;
            cursor: pointer;
            width: 35px;
            height: 35px;
            margin-top: 15px;
            border-radius: 0;
            animation: smooth-appear 0.3s ease forwards;
        }
    }
}
