@import './header';
@import './header-nav-mobile';
@import './footer';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @media only screen and (max-width: 600px) {
        gap: 60px;
        position: relative;
    }
}

@import './banner';
@import './about';
@import './why-choose';
@import './core-value-and-commitment';
@import './field-activity';
