* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-sbtr: #000;
  --primary-color: #e74822;
  --base-color: #383838;
}

html {
  font-family: "Be Vietnam Pro";
}

body {
  display: flex;
  justify-content: center;
  background: #fff;
  color: #383838;
}

main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.temp-banner {
  width: 100vw;
  /* height: 30vw; */
  margin-left: calc(50% - 50vw);
  position: relative;
}
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: #383838;
}

.hidden {
  display: none;
}

.bg-center {
  background-size: cover;
  background-position: center;
}

.substract {
  display: inline-block;
  background-size: 100%;
  filter: url("#goo");
}
.substract > div:first-child,
.substract .substract-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.substract--top-left > div:first-child,
.substract--top-left .substract-bg {
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  clip-path: polygon(18% -8%, 100% 0%, 109% 101%, -2% 100%, 0% 16%)
}

.substract--top-right > div:first-child,
.substract--top-right .substract-bg {
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  clip-path: polygon(0% 0%, 380px 0%, 100% 45px, 100% 100%, 0% 100%);
}

.substract--bottom-left > div:first-child,
.substract--bottom-left .substract-bg {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
}

.substract--bottom-left-hight > div:first-child,
.substract--bottom-left-hight .substract-bg {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13.33% 100%, 0% 90.52%);
}

.substract--bottom-right > div:first-child,
.substract--bottom-right .substract-bg {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 20% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 80% 100%, 0% 100%);
}

.substract--top-left-and-bottom-right > div:first-child,
.substract--top-left-and-bottom-right .substract-bg {
  -webkit-clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
  clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
}
.substract--top-left-and-bottom-right > .substract-bg {
  position: relative;
  background-color: #00254e;
}
.substract--top-left-and-bottom-right > .substract-bg.border-clip::after {
  position: absolute;
  z-index: -1;
  content: "";
  -webkit-clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
          clip-path: polygon(13.16% 0%, 100% 0%, 100% 82.14%, 86.84% 100%, 0% 100%, 0% 17.86%);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  background-color: #fff;
  top: 0;
  left: 0;
}

.header {
  width: 1300px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
}
.header .logo {
  width: 80px;
  height: 71.4px;
  display: block;
}
.header .logo img {
  block-size: 100%;
}
.header .nav {
  display: flex;
  gap: 10px;
}
.header .nav__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  padding: 10px;
  font-weight: 600;
  line-height: 17.71px;
}
.header .nav__link.active {
  color: #e74822;
}
.header .nav__link div {
  padding-left: 0.35px;
  padding-right: 0.35px;
}
.header .nav__link div span {
  display: block;
  padding-top: 0.15px;
  padding-bottom: 0.15px;
}
.header .nav__link span img {
  width: 4px;
  height: 8px;
}

.header-mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile__logo {
  position: absolute;
  width: 50px;
  height: 45px;
  background-size: contain;
  background-position: center;
  z-index: 100;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  z-index: 100;
  background: #00254e;
  padding: 12px 24px;
}
@media only screen and (max-width: 600px) {
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-mobile__social {
  display: flex;
  gap: 15px;
}

.nav-mobile-modal {
  z-index: 101;
  display: none;
  padding: 50px 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00254e;
}
.nav-mobile-modal .logo {
  display: block;
  margin-bottom: 41px;
  text-align: center;
}
.nav-mobile-modal .logo img {
  width: 80px;
  height: 72px;
}
.nav-mobile-modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.nav-mobile-modal__list__item {
  padding: 10px;
}
.nav-mobile-modal__list__item.active > a {
  color: #e74822;
}
.nav-mobile-modal__list__item a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #f2f8fd;
}

.footer {
  width: 100vw;
  /* margin-left: calc(51% - 50vw); */
  position: relative;
  /* margin-top: 30px; */
}
@media only screen and (max-width: 600px) {
  .footer {
    margin-bottom: 38px;
    margin-top: 38px;
  }
}
.footer__info {
  padding: 70px 67px 80px;
  background-color: #00254e;
  color: #fff;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.footer__info::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #e74822;
  width: 70%;
}
.footer__info__logo {
  width: 100%;
}
.footer__info__logo img {
  width: 140px;
  height: 125px;
}
.footer__info__about {
  width: 100%;
}
.footer__info__about h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .footer__info__about h3 {
    margin-bottom: 20px;
  }
}
.footer__info__about__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__info__about__list__item {
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}
.footer__info__about__list__item img {
  display: block;
  width: 8px;
  height: 16px;
}
.footer__info__contact {
  width: 100%;
}
.footer__info__contact__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .footer__info__contact__heading {
    margin-bottom: 20px;
  }
}
.footer__info__contact__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__info__contact__list__item {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer__info__contact__list__item div p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}
.footer > p {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .footer > p {
    font-size: 10px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media only screen and (max-width: 600px) {
  .main {
    gap: 60px;
    position: relative;
  }
}

.banner {
  width: 100%;
  height: 800px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .banner {
    height: 400px;
  }
}
.banner__item {
  width: 100%;
  block-size: 100%;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}
@media only screen and (max-width: 600px) {
  .banner__item {
    background-position-x: center;
  }
}
.banner__item__overlay {
  block-size: 100%;
}
@keyframes icon-appears {
  0% {
    top: 100%;
    opacity: 0;
  }
  99% {
    background: var(--pri-dac);
    transform: scale(1.2);
  }
  100% {
    top: 65%;
    right: 6%;
    opacity: 1;
  }
}
.banner__social {
  position: absolute;
  bottom: 0;
  right: 70px;
}
@media only screen and (max-width: 600px) {
  .banner__social {
    display: none;
  }
}
.banner__social::after {
  content: "";
  display: block;
  border: 1.2px solid #fff;
  width: 0;
  height: 139px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-0.6px);
}
.banner__social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  animation: icon-appears 0.1s ease forwards;
}
.banner__social__container__item {
  position: relative;
  background-size: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.banner__social__container__item img {
  block-size: 15px;
  z-index: 1;
}
.banner__social__container__item::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  height: 0;
  background-position: center;
  background-image: url(../../../../../../../public/assets/img/social/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 0;
}
.banner__social__container__item:hover::after {
  width: 28px;
  height: 22px;
}

.about {
  position: relative;
  padding: 100px 70px;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .about {
    padding: 0px 24px;
    margin-top: -30px;
  }
}
.about__body {
  display: block;
  margin-top: 30px;
}
.about__body__content {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .about__body__content {
    width: 100%;
    text-align: center;
  }
}
.about__body__content__heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .about__body__content__heading {
    justify-content: center;
  }
}
.about__body__content__heading img {
  width: 20px;
  height: 6px;
}
.about__body__content__heading div {
  overflow: hidden;
}
.about__body__content__heading div h3 {
  box-sizing: content-box;
  padding-left: 0.1px;
  padding-right: 0.1px;
  padding-top: 1.3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}
.about__body__content > p:nth-child(2) {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3695;
  color: #383838;
}
@media only screen and (max-width: 600px) {
  .about__body__content > p:nth-child(2) {
    font-size: 22px;
  }
}
.about__body__content__name {
  color: #e74822;
}
.about__body__content > p:nth-child(3) {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.524;
}
@media only screen and (max-width: 600px) {
  .about__body__content > p:nth-child(3) {
    font-size: 12px;
  }
}
.about__img {
  position: absolute;
  right: 70px;
  top: 100px;
  display: flex;
  vertical-align: top;
  align-items: center;
  gap: 15px;
}
@media only screen and (max-width: 600px) {
  .about__img {
    position: unset;
    justify-content: center;
    margin-top: 30px;
    gap: 7px;
    margin-left: 0px;
  }
}
.about__img section {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
@media only screen and (max-width: 600px) {
  .about__img section {
    gap: 6px;
  }
}
.about__img section > div:first-child {
  width: 230px;
  height: 300px;
}
@media only screen and (max-width: 600px) {
  .about__img section > div:first-child {
    width: 146px;
    height: 190px;
  }
}
.about__img section > div:last-child {
  width: 300px;
  height: 180px;
}
@media only screen and (max-width: 600px) {
  .about__img section > div:last-child {
    width: 189px;
    height: 114px;
  }
}
.about__img > div:last-child {
  width: 230px;
  height: 320px;
}
@media only screen and (max-width: 600px) {
  .about__img > div:last-child {
    width: 146px;
    height: 203px;
  }
}
.about__see-more {
  position: relative;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-repeat: no-repeat;
  padding: 10px 15px;
  margin-top: 80px;
  font-weight: 600;
  overflow: hidden;
}
.about__see-more span {
  padding-left: 0.5px;
  padding-right: 0.5px;
  transition: color 0.25s 0.25s;
}
.about__see-more span,
.about__see-more svg {
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .about__see-more {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
  }
}
.about__see-more::before {
  z-index: 0;
  content: "";
  width: 110px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
  background-color: #e74822;
  transform: rotate(43deg);
  transition: width 0.75s, height 1s;
}
.about__see-more::after {
  z-index: 0;
  content: "";
  width: 100px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(231, 73, 34, 0.4196078431);
  transition: opacity 0.25;
  opacity: 0;
}
.about__see-more:hover::before {
  width: 500px;
  height: 500px;
}
.about__see-more:hover::after {
  opacity: 1;
}
.about__see-more:hover span {
  color: white;
}
.about__see-more:hover svg path {
  stroke: white;
}

.why-choose {
  color: #f2f8fd;
  padding: 70px;
}
@media only screen and (max-width: 600px) {
  .why-choose {
    padding: 0 24px;
  }
}
.why-choose__heading {
  text-align: center;
  font-size: 40px;
  color: #00254e;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .why-choose__heading {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.why-choose__heading > span:first-child {
  color: #e74822;
}
.why-choose__list {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .why-choose__list {
    gap: 30px;
    flex-direction: column;
  }
}
.why-choose__list__item {
  width: 380px;
  height: 280px;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item {
    width: 100%;
    height: 230px;
  }
}
.why-choose__list__item-container {
  border: 0.5px solid #00254e;
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: #00254e;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container {
    padding-top: 30px;
    padding-left: 21px;
    padding-right: 21px;
  }
}
.why-choose__list__item-container__media {
  background-color: #f2f8fd;
  padding: 15px;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container__media {
    padding: 18px;
  }
}
.why-choose__list__item-container__media > img {
  display: block;
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container__media > img {
    width: 18px;
    height: 18px;
  }
}
.why-choose__list__item-container__body {
  margin-bottom: 46px;
  width: 300px;
}
.why-choose__list__item-container__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container__body {
    gap: 15px;
  }
}
.why-choose__list__item-container__body > p:first-child {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container__body > p:first-child {
    font-size: 14px;
  }
}
.why-choose__list__item-container__body > p:nth-child(2) {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.524;
 
}
@media only screen and (max-width: 600px) {
  .why-choose__list__item-container__body > p:nth-child(2) {
    font-size: 12px;
    padding: 0 28px;
  }
}
.why-choose__list__item:hover .border-clip::after {
  transition: height 0.3s;
  height: 0;
}
.why-choose__list__item:hover .why-choose__list__item-container {
  color: #f2f8fd;
}
.why-choose__list__item:hover .why-choose__list__item-container__body p {
  color: #f2f8fd;
}
.why-choose__list__item:hover .why-choose__list__item-container__media {
  background-color: #f2f8fd;
}

@media only screen and (max-width: 600px) {
  #slide-why-choose.splide {
    visibility: visible;
  }
}

.core-value-and-commitment {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 85px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment {
    padding: 0px 24px;
  }
}
.core-value-and-commitment__heading {
  width: 535px;
  height: 51px;
  margin-bottom: 60px;
  color: #00254e;
  font-size: 40px;
  line-height: 1.265;
  font-weight: 700;
  display: inline-block;
  word-spacing: -1px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__heading {
    width: 100%;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.core-value-and-commitment__heading > span:first-child {
  color: #e74822;
}
.core-value-and-commitment__body {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body {
    flex-direction: column;
  }
}
.core-value-and-commitment__body__media {
  position: relative;
  min-width: 55%;
  margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__media {
    margin-bottom: 40px;
  }
}
.core-value-and-commitment__body__media > *:first-child {
  width: 450px;
  height: 580px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__media > *:first-child {
    width: 220px;
    height: 290px;
  }
}
.core-value-and-commitment__body__media > *:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 200px;
  border: 5px solid #fff;
  border-radius: 5px;
  background-color: #fff;
}
.core-value-and-commitment__body__media > *:nth-child(2) > div:first-child {
  width: 440.4px;
  height: 566.4px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__media > *:nth-child(2) {
    top: 58px;
    left: auto;
    right: 0;
  }
  .core-value-and-commitment__body__media > *:nth-child(2) > div:first-child {
    width: 220px;
    height: 290px;
  }
}
.core-value-and-commitment__body__content {
  margin-top: 21px;
  width: 515px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content {
    width: 100%;
  }
}
.core-value-and-commitment__body__content__list {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content__list {
    gap: 40px;
  }
}
.core-value-and-commitment__body__content__list__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.core-value-and-commitment__body__content__list__item > div:nth-child(1) {
  display: flex;
  gap: 10px;
}
.core-value-and-commitment__body__content__list__item > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.core-value-and-commitment__body__content__list__item__heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content__list__item__heading {
    font-size: 14px;
  }
}
.core-value-and-commitment__body__content__list__item__heading:hover {
  color: var(--primary-color);
}
.core-value-and-commitment__body__content__list__item__title {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content__list__item__title {
    font-size: 12px;
  }
}
.core-value-and-commitment__body__content__list__item .hover {
  display: none;
  block-size: 30px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content__list__item .hover {
    block-size: 25px;
  }
}
.core-value-and-commitment__body__content__list__item .un-hover {
  display: block;
  block-size: 30px;
}
@media only screen and (max-width: 600px) {
  .core-value-and-commitment__body__content__list__item .un-hover {
    block-size: 25px;
  }
}

.field-activity {
  padding: 0 24px;
}
.field-activity__header {
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 600px) {
  .field-activity__header {
    gap: 25px;
    margin-bottom: 50px;
  }
}
.field-activity__header__heading {
  font-size: 40px;
  line-height: 1.265;
  font-weight: 700;
  display: inline-block;
  word-spacing: -1px;
  color: #383838;
}
@media only screen and (max-width: 600px) {
  .field-activity__header__heading {
    font-size: 20px;
  }
}
.field-activity__header__heading > span:first-child {
  color: #e74822;
}
.field-activity__header__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.257;
  width: 624px;
}
@media only screen and (max-width: 600px) {
  .field-activity__header__title {
    font-size: 16px;
    width: 342px;
  }
}
.field-activity__body__list {
  display: flex;
  justify-content: center;
  gap: 33.33px;
}
@media only screen and (max-width: 600px) {
  .field-activity__body__list {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.field-activity__body__list__item {
  position: relative;
  overflow: hidden;
}
.field-activity__body__list__item:hover .field-activity__body__list__item__container {
  bottom: 73px;
}
.field-activity__body__list__item:hover .field-activity__body__list__item__media {
  opacity: 0;
  height: 0;
}
.field-activity__body__list__item:hover .field-activity__body__list__item__heading {
  color: #f2f8fd;
}
.field-activity__body__list__item:hover .field-activity__body__list__item__title {
  display: block;
}
.field-activity__body__list__item .over {
  transition: opacity 0.75s;
}
.field-activity__body__list__item .over > div {
  top: 0;
  transition: top 0.5s;
}
.field-activity__body__list__item:hover .over {
  opacity: 0;
}
.field-activity__body__list__item:hover .over > div {
  top: -70%;
}
.field-activity__body__list__item .substract {
  width: 300px;
  height: 350px;
}
@media only screen and (max-width: 600px) {
  .field-activity__body__list__item .substract {
    width: 342px;
    height: 380px;
  }
}
.field-activity__body__list__item__container {
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: bottom 1s;
}
.field-activity__body__list__item__media {
  display: block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s, height 1s;
}
.field-activity__body__list__item__heading {
  display: block;
  color: #66717a;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.265;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .field-activity__body__list__item__heading {
    font-size: 18px;
    margin-top: 30px;
  }
}
.field-activity__body__list__item__title {
  display: none;
  color: #f2f8fd;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.554;
  width: 250px;
}
@media only screen and (max-width: 600px) {
  .field-activity__body__list__item__title {
    font-size: 12px;
    margin-top: 20px;
  }
}

.blog {
  padding-top: 70px;
  padding-left: 41px;
  padding-bottom: 70px;
  padding-right: 41px;
}
@media only screen and (max-width: 600px) {
  .blog {
    padding: 0px 24px;
  }
}
.blog__heading {
  width: 100%;
  height: 51px;
  margin-bottom: 60px;
  color: #00254e;
  font-size: 40px;
  line-height: 1.265;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  word-spacing: -1px;
}
@media only screen and (max-width: 600px) {
  .blog__heading {
    width: 100%;
    height: auto;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
.blog__heading > span:first-child {
  color: #e74822;
}
.blog__body {
  display: flex;
  justify-content: center;
  gap: 41px;
}
@media only screen and (max-width: 600px) {
  .blog__body {
    gap: unset;
  }
}
.blog__body__list-card {
  width: 406px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (max-width: 600px) {
  .blog__body__list-card {
    gap: 15px;
    width: 100%;
  }
}
.blog__body__list-card-media {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.blog__body__list-card-media img {
  display: block;
  width: 100%;
  height: 270px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .blog__body__list-card-media img {
    height: 210px;
    width: 100%;
  }
}
.blog__body__list-card-media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(231, 73, 34, 0.6078431373), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.blog__body__list-card:hover *::after {
  opacity: 1;
}
.blog__body__list-card__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .blog__body__list-card__header {
    font-size: 14px;
  }
}
.blog__body__list-card__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
.blog__body__list-card__more {
  display: block;
  color: #e74822;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
}
@media only screen and (max-width: 600px) {
  .blog__body__list-card__more {
    font-size: 10px;
  }
}
.blog__body__list-title__item {
  background-color: #fef4ee;
  border-radius: 4px;
  padding: 45.25px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.blog__body__list-title__item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .blog__body__list-title__item{
    font-size: 14px;
  }
}
.blog__body__list-title__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
.blog .blog__body__list__action {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .blog .blog__body__list__action {
    gap: 8px;
  }
}
.blog .blog__body__list__action div {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .blog .blog__body__list__action div {
    gap: 8px;
  }
}
.blog .blog__body__list__action .img {
  width: 15px;
  height: 15px;
}
.blog .blog__body__list__action p {
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  padding-left: 10px;
  padding-right: 10px;
  color: #383838;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .blog .blog__body__list__action p {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.blog .blog__body__list__action span {
  color: #383838;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  #blog-mobile-slide.splide {
    visibility: visible;
  }
}

@keyframes smooth-appear {
  0% {
    transform: scale(1.5);
    transform-origin: right;
  }
  100% {
    transform: scale(1); /* Tỷ lệ thu nhỏ */
    transform-origin: right;
  }
}

.float-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 70%;
  /* bottom: 0; */
  right: 0;
  width: 70px;
  transform: translateY(-50%);
  z-index: 1000;
  border: none;
}
.float-buttons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px 0;
}
.float-buttons .icon button {
  background: #00254e;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-top: 15px;
  border-radius: 0;
  animation: smooth-appear 0.3s ease forwards;
  border: none;
}/*# sourceMappingURL=index.css.map */

.float-buttons .icon button:hover {
  background: #ff6600;
  transform: scale(1.3) !important;
  transform-origin: center !important;
}
