* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-sbtr: #000;
}

html {
  font-family: "Be Vietnam Pro";
}

body {
  display: flex;
  justify-content: center;
  background: #fff;
  color: #383838;
}

main {
  width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #383838;
}

.hidden {
  display: none;
}

.bg-center {
  background-size: cover;
  background-position: center;
}

.substract {
  display: inline-block;
  background-size: 100%;
  filter: url("#goo");
}

.substract-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.substract--top-left .substract-bg {
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 16%);
}

.substract--bottom-left .substract-bg {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 74%);
}

.header {
  width: 1300px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 80px;
  height: 71.4px;
  display: block;
}
.header .logo img {
  block-size: 100%;
}
.header .nav {
  display: flex;
  gap: 10px;
}
.header .nav__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  padding: 10px;
  font-weight: 600;
  line-height: 17.71px;
}
.header .nav__link.active {
  color: #e74822;
}
.header .nav__link div {
  padding-left: 0.35px;
  padding-right: 0.35px;
}
.header .nav__link div span {
  display: block;
  padding-top: 0.15px;
  padding-bottom: 0.15px;
}
.header .nav__link span img {
  width: 4px;
  height: 8px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.banner {
  width: 100%;
  height: 800px;
  position: relative;
}
.banner__item {
  block-size: 100%;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}
.banner__item__overlay {
  block-size: 100%;
}
.banner__social {
  position: absolute;
  bottom: 0;
  right: 70px;
}
.banner__social::after {
  content: "";
  display: block;
  border: 1.2px solid #fff;
  width: 0;
  height: 139px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-0.6px);
}
.banner__social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.banner__social__container__item {
  background-size: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banner__social__container__item img {
  block-size: 15px;
}

.about {
  padding: 100px 70px;
  font-size: 14px;
}
.about__body {
  display: inline-block;
  margin-top: 30px;
}
.about__body__content {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__body__content__heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about__body__content__heading img {
  width: 20px;
  height: 6px;
}
.about__body__content__heading div {
  overflow: hidden;
}
.about__body__content__heading div h3 {
  box-sizing: content-box;
  padding-left: 0.1px;
  padding-right: 0.1px;
  padding-top: 1.3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}
.about__body__content > p:nth-child(2) {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3695;
  color: #383838;
}
.about__body__content__name {
  color: #e74822;
}
.about__body__content > p:nth-child(3) {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.524;
}
.about__img {
  display: flex;
  vertical-align: top;
  align-items: center;
  gap: 15px;
  margin-left: 60px;
  float: right;
}
.about__img section {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.about__see-more {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-repeat: no-repeat;
  padding: 10px 15px;
  margin-top: 80px;
  font-weight: 600;
}
.about__see-more span {
  padding-left: 0.5px;
  padding-right: 0.5px;
}/*# sourceMappingURL=index.css.map */